body {
	font-family: 'open-sans', sans-serif;
	background: #e2e2e2;
}

a {
	text-decoration: none;
}

.nav-container, .container {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}

/*NAVIGATION */
.nav-bar {
	width: 100%;
	background: none;
}

.nav-container {
	overflow: hidden;
}

.nav-logo:hover {
	color: #09d9ff;
}

.nav-list li {
	float: left;
	list-style-type: none;
}

.nav-list li a {
	display: block;
	color: #f9f9f9;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
	padding: 30px 30px;
	font-size: 1em;
	-webkit-transiton:all 0.3s linear;
		-moz-transiton:all 0.3s linear;
			-o-transiton:all 0.3s linear;
				transiton:all 0.3s linear;
}

.nav-list li a:hover {
	-webkit-filter: brightness(1.2);
		-moz-filter: brightness(1.2);
			-o-filter:brightness(1.2);
	padding-top: 60px;
}

.nav-menu {
	display: none;
}

/* adding colors on the menu */
#color-1 {
	background: #2ecc71
}

#color-2 {
	background: #3498db
}

#color-3 {
	background: #e67e22
}

#color-4 {
	background: #f1c40f
}

#color-5 {
	background: #e74c3c
}

#color-6 {
	background: #9b59b6
}

/*ADDING MEDIA QUERIES*/

/*1E10+ VIEWPORT FIX */
@ms viewport {
	width: device-width;}

@viewport{width: device-width;}

@media screen and (max-width: 768px) {
	.nav-list li {
		float: left;
		width: 50%;
	}

	.nav-list li a:hover{
		padding-left: 20px;
		padding-top: 30px;
	}
}

@media screen and (max-width: 480px) {
	.nav-menu {
		color: #fff;
		float: right;
		display: block;
		padding: 20px 10px;
		cursor: pointer;
	}

	.nav-list {
		float: left;
		width: 100%;
		overflow: hidden;
		height: 0;
	}

	.nav-container, .container {
		background: #34495e;
	}

	.nav-pen {
		height: auto;
	}

	.nav-list li {
		width: 100%;
	}

	.nav-list li a:hover {
		padding-top: 60px;
		padding-left: 30px;
	}
}

/*styling the contact list*/

.content-container {
	width: 95%;
	max-width: 1000px;
	margin: 0;
}

.contact-bar {
	width: 100%;
	background: none;
	margin: 0px auto;
}

.contact-container {
	overflow: hidden;
}

.contact-list li {
	float: left;
	list-style-type: none;
	margin: 0px auto;
}

.contact-list li a {
	display: block;
	color: #f9f9f9;
	text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
	padding: 30px 30px;
	font-size: 1em;
	-webkit-transiton:all 0.3s linear;
		-moz-transiton:all 0.3s linear;
			-o-transiton:all 0.3s linear;
				transiton:all 0.3s linear;
}

.contact-list li a:hover {
	-webkit-filter: brightness(1.2);
		-moz-filter: brightness(1.2);
			-o-filter:brightness(1.2);
	padding-top: 20px;
}

.contact-menu {
	display: none;
}

/*media queries or the contact bar*/

/*ADDING MEDIA QUERIES*/

/*1E10+ VIEWPORT FIX */
@ms viewport {
	width: device-width;}

@viewport{width: device-width;}

@media screen and (max-width: 768px) {
	.contact-list li {
		float: left;
		width: 75%;
	}

	.contact-list li a:hover{
		padding-left: 5px;
		padding-top: 10px;
	}
}

@media screen and (max-width: 480px) {
	.nav-menu {
		color: #fff;
		float: right;
		display: block;
		padding: 20px 10px;
		cursor: pointer;
	}

	.contac-list {
		float: left;
		width: 100%;
		overflow: hidden;
		height: 0;
	}

	.contact-container, .container {
		background: #34495e;
	}

	.contact-pen {
		height: auto;
	}

	.contact-list li {
		width: 100%;
	}

	.contact-list li a:hover {
		padding-top: 60px;
		padding-left: 30px;
	}
}

header {
	margin: 0px auto;
}